@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Rammetto+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

#home{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/wq.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 5%;
    position: relative;
}

#home .text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
}

#home .text-box p{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
}

#home .text-box h1{
    font-size: 11rem;
    line-height: 160px;
    letter-spacing: 2px;
    margin-left: -10px;
    font-family: 'Rammetto One', cursive;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;

    animation: back 20s linear infinite;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

#home .text-box h3{
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
}

#home .text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

#home .text-box a{
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    border-radius: 10px;

    display: flex;
    align-items: center;

    transition: all 0.3s;
}

#home .text-box a span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 5px;
}

#home .text-box a:hover{
    background-color: #fff;
    color: #000;
}
